language: python

branches:
  only:
    - master

install:
  - pip install -r docs/requirements.txt
  - sudo apt-get install graphviz
   - broken

superbroken

before_script: cd docs
script:
  - make html
  - make linkcheck
